<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center display-4">Library</h1>
<hr class="my-4"/>
    <a href="/books/search" class="btn btn-primary btn-lg mb-3">Search a book</a>
<hr class="my-4"/>
    <div th:each="book: ${bookList}" class="mb-2">
        <a th:href="@{/books/{id}(id=${book.getBookId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublish()}"
           class="btn btn-outline-secondary">book</a>
    </div>
    <hr class="my-4"/>
    <a href="/books/new" class="btn btn-success btn-lg mb-3">Add Book</a>
    <a href="/people" class="btn btn-secondary btn-lg mb-3">Go to People Page</a>
</div>
</body>
</html>