<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-5">
    <form th:method="POST" th:action="@{/books}" th:object="${book}">
        <div class="mb-3">
            <label for="name" class="form-label">Enter Title of the Book:</label>
            <input type="text" th:field="*{title}" id="name" class="form-control" style="width: 320px"/>
            <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Enter Author of the Book:</label>
            <input type="text" th:field="*{author}" id="author" class="form-control" style="width: 320px"/>
            <div class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        </div>

        <div class="mb-3">
            <label for="yearOfPublish" class="form-label">Enter Year of Publish:</label>
            <input type="text" th:field="*{yearOfPublish}" id="yearOfPublish" class="form-control" style="width: 320px"/>
            <div class="text-danger" th:if="${#fields.hasErrors('yearOfPublish')}" th:errors="*{yearOfPublish}"></div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create!</button>
        </div>
    </form>
</div>
</body>
</html>