<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"/>
</head>
<body class="container mt-5">
<div class="mb-3">
    <p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}" class="lead">Person Details</p>
</div>

<div th:if="${books.isEmpty()}" class="mb-3">
    <div class="alert alert-info" role="alert">
        <p>Person hasn't taken any book yet.</p>
    </div>
    <hr class="my-4"/>
</div>

<div th:if="${!books.isEmpty()}" class="mb-3">
    <hr class="my-4"/>
    <b>Books:</b>
    <br/>
    <table class="table table-striped">
        <tbody>
        <tr th:each="book: ${books}">
            <td>
                        <span th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublish()}">
                            Book
                        </span>
            </td>
        </tr>
        </tbody>
    </table>
    <hr class="my-4"/>
</div>

<form th:method="GET" th:action="@{/people/{personId}/edit(personId=${person.getPersonId()})}" class="mb-3">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>

<form th:method="POST" th:action="@{/people/{personId}/delete(personId=${person.getPersonId()})}" class="mb-3">
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<form th:method="GET" th:action="@{/people}" class="mb-3">
    <button type="submit" class="btn btn-secondary">Return to List of People</button>
</form>
</body>
</html>